<div class="container">
    <h1>{{title}}</h1>

    <img src="{{logo}}" alt="logo">
</div>

<div class="container overflow">
    <h3>Latest Results</h3>
    <ul>
        {{#each scores}}
        <li>Home: {{this.home}} - {{this.homeScore}}</li>
        <li>Away: {{this.away}} - {{this.awayScore}}</li>
        <br>
        {{/each}}
    </ul>
</div>

<div class="container">
    <h4><a href="/scores/{{sport}}">Download Results</a></h4>

    <h4><a href="{{leagueLink}}" target="_blank">{{leagueLink}}</a></h4>

    <p>{{description}}</p>
</div>
